<header>
  <h1>Tiny App</h1>
  <h3>we make</h3>
  <h4>your</h4>
  <h6>tiny</h6>

  <% if( user) {%>
    <h2>Username is:
        <%= user.email %>
      </h2>
      <a href="/">Home</a>
      <a href="/urls/new">ADD URL</a>

    <form class="" action="/logout" method="post">
      <button name="button">logout</button>
    </form>
  <% } else { %>
    <h2>Register
      </h2>
      <a href="/register">register</a>
      <a href="/login">login</a>

  <% } %>

</header>
