<header class="page-header">
  <h1>Tiny App</h1>
  <p>We make <small>tiny</small>apps</p>
  <div class="input-styles">
    <div>
      <% if( user ) { %>
        <h2 class="text-center"><small>Welcome:</small> <strong><%= user.email %></strong></h2>


        <div>
          <form action="/logout" method="POST">
            <button class="btn text-right float-right" type="submit">logout</button>
          </form>
        </div>
      <% } else { %>
        <div class="register-style">
          <h2>Register</h2>
          <a class="link-style" href="/register">register</a>
          <a class="link-style" href="/login">login</a>
        </div>
      <% } %>
    </div>
  </div>
</header>