<form action=<%="/urls/" + urlArray.urlsList[i] +"/update"%> method="POST"></td>
  <td></td>
  <td><label for="name">Change Url :</label></td>
  <td><input type="text" id="name" name="user_name" /></td>
  <td><button class="btn-style">Update</button></td>
</form>