<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This tiny app is such a TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header'); %>
    <ul>
          <li>This shortUrl => <a href= <%="/u/" +shortURL %> ><%= shortURL %></a>: goes to =>  <%= longUrl %></li>
    </ul>
  </body>
</html>
