.container-fluid {
  max-width: 80%;
  background-color: #e2eff5;
  color: #2b5a82;
}

.page-header {
  border-bottom: 10px solid #feea5c;
  background-color: #fbfe5c;
}

.header {
  padding: 10px;
}

.username-header {
  color: #2a89db;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.btn {
   background-color: #bfdbeb;
  transition: 300ms;
}
.long-url {
  color: #0095ff;
}
.btn:hover {
  transform: scale(1.1);
  transition: 300ms;
  background-color: #ffca0b;
-webkit-box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
}

.btn.btn-add {
  background-color: #89c8ed;
}

.btn.btn-add:hover {
  background-color: #54f4c0;
}

.instead {
  margin-top: 20px;
}
.btn-logout {

  background-color: #feea5c;
}
.logout-style{
      display: block;
    position: relative;
    top: -25px;
    float: right;
}

a{
    color: #2a89db;
  transition: 300ms;
}

a:hover {
  text-decoration: none;

  border-bottom: 4px solid #ffca0b;
  background-color: #ffe73f;
  padding: 7px 0;
  /*letter-spacing: 1.3px;*/
  transition: 300ms;
  background: yellow;
}

.slidein {
  animation-duration: 1000ms;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 1%;
    transform: scale(1.4);
    -webkit-box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
box-shadow: 0px 13px 46px -9px rgba(0,0,0,0.75);
  }

  to {
    margin-left: 0%;
    -webkit-box-shadow: 0px
-moz-box-shadow: 0px
box-shadow: 0px
  }
}


/*
body {
  background-color: lightblue;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: brown;

  font-family: 'Oswald', serif;
  text-align: center;
}

header {
  background-color: lightyellow;
  border-radius: 10px;
}
a{
  text-decoration: none;
  font-family: 'Oswald', serif;
}
button {

}
form {

  border-radius: 10px;
}
.center {
  margin: 0 auto;
}
table {


}
tr.table-header {
  background: orange;
  border-bottom: 5px solid black;
}
tr {


}

td {
  padding: 10px;
}

.site-header {

}
.center-text {
  text-align: center;
}
.input--styles {
  background-color: pink;
}

.btn-style{
  color: #900;
  background: #FF0;
  font-weight: bold;
  border: 1px solid #900;
}

.btn-style:hover {
  color: #FFF;
  background: #900;
}

.link-style {
  color: #900;

}*/