body {
    background-color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
    color: orange;
    text-align: center;
}

header {
  background-color: lightyellow;
  border-radius: 10px;
}

form {
  padding: 20px;;
  background-color: lightyellow;
  border-radius: 10px;
}
